# files created by pyChram
.idea/
src/.idea/misc.xml
modules.xml
src.iml
workspace.xml

# Class-specific section #

# Byte-compiled / optimized /DLL
__pycache__/
*.py[cod]
*$py.class

# Java section #
*.class

# Django section #
*.log
*.pot
*.pyc
local_settings.py
*.py[cod]
migrations

# C extensions
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Mac OS file
.DS_Store
