<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"-->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    {% load static %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "playwithsound/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "playwithsound/fullpage/jquery.fullPage.css" %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">

    <!-- custom CSS -->
    <link href="{% static "playwithsound/css/pws.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "playwithsound/js/d3.js" %}"></script>

    {% block customCSS %}{% endblock %}
</head>

<body id="page-top">

    <div id="header">
        <nav class="navbar navbar-fixed-top navbar-pws">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">Menu<i class="fa fa-bars"></i>
                    </button>
    
                    <form class="navbar-form navbar-left" role="search">
                        <input type="text" class="form-control search-input" placeholder="Search">
                        <button class="btn btn-default btn-small search-btn" type="submit"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>                  
                    </form> <!-- search box -->
                    <a class="navbar-brand" href="{% url 'home' %}">
                    Paint With Sound</a> <!-- logo -->
                </div>

                <div class="collapse navbar-collapse  navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                          <a href="#"></a>
                        </li>
                        <li>
                            {% if user_is_authenticated %}
                            <a class="page-scroll" href="{% url 'logout' %}">Logout
                            {% else %}
                            <a class="page-scroll" href="{% url 'login' %}">Login
                            {% endif %}</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Play<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'mode_1' %}">Mode 1</a></li>
                                <li><a href="{% url 'mode_2' %}">Mode 2</a></li>
                                <li><a href="{% url 'mode_3' %}">Mode 3</a></li>
                            </ul><!-- dropdown -->
                        </li>
                        <li><a class="page-scroll" href="{% url 'gallery_home' %}">Gallery</a></li>
                    </ul> <!-- menu -->
                </div>

            </div> <!-- containder-fluid -->
        </nav>
    </div> <!-- header -->

    {% if user_is_authenticated %}
    <div id="is-authenticated" hidden></div>
    {% endif %}
    {% block content %}{% endblock %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript" src="{% static "playwithsound/fullpage/jquery.fullPage.js" %}"></script>

<script src="{% static "playwithsound/js/bootstrap.min.js" %}"></script>

<script type="text/javascript" src="{% static "playwithsound/js/pws.js" %}"></script>

{% block customJS %}{% endblock %}
</body>

</html>