<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"-->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Paint With Sound - About</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/playwithsound/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/playwithsound/fullpage/jquery.fullPage.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">

    <!-- custom CSS -->
    <link href="../static/playwithsound/css/pws.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="header">
        <nav class="navbar navbar-fixed-top navbar-pws">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">Menu<i class="fa fa-bars"></i>
                    </button>
    
                    <form class="navbar-form navbar-left" role="search">
                        <input type="text" class="form-control search-input" placeholder="Search">
                        <button class="btn btn-default btn-small search-btn" type="submit"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>                  
                    </form> <!-- search box -->
                    <a class="navbar-brand" href="#page-top">
                    Paint With Sound</a> <!-- logo -->
                </div>

                <div class="collapse navbar-collapse  navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                          <a href="#"></a>
                        </li>
                        <li><a class="page-scroll" href="#">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Play<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="modes/mode1.html">Mode 1</a></li>
                                <li><a href="modes/mode2.html">Mode 2</a></li>
                                <li><a href="modes/mode3.html">Mode 3</a></li>
                            </ul><!-- dropdown -->
                        </li>
                        <li><a class="page-scroll" href="#sec-gallery">Gallery</a></li>
                    </ul> <!-- menu -->
                </div>

            </div> <!-- containder-fluid -->
        </nav>
    </div> <!-- header -->

    <div id="footer">
        <p>Copyright &copy; Team 330</p>
    </div> <!-- footer -->

    <div id="fullpage">
        <div class="section" id="section-about">
            <h1 class="section-title">Paint With Sound</h1>
            <h2 class="sub-title">Make a sound, be an aritist, and have some fun!</h2>
            <div class="intro-text">
                <p>Paint With Sound is a website that transform sound into images.</p>
                <p>Wanna show your feelings in paints but not so talented? Wanna attach a image to your blogbut cannot find a fit one? Come to Paint With Sound! Or just have some fun and relax yourself.</p>
            </div>  
            <a href="#secMode" class="btn btn-default btn-circle">
                <i class="fa fa-angle-double-down"></i>
            </a>
        </div> <!-- section about -->
        <div class="section">
            <div class="slide" data-anchor="slide1" id="slide-mode1">
                <h1 class="slide-title">What You Sing Is What You See</h1>
                <div class="intro-text">
                    <p>Just sing, speak, scream, shout or make whatever sound you like, we will paint an image that comes from your voice!</p>
                </div>
                <a href="modes/mode1.html" class="btn btn-default btn-small btn-nav">Play Now</a>
            </div> <!-- mode 1 -->
            <div class="slide" data-anchor="slide2" id="slide-mode2">
                <h1 class="slide-title">It Takes A Song To Be An Artist</h1>
                <div class="intro-text">
                    <p>Upload an audio file, and we will paint a more complicated and artistic image for you!</p>
                </div>
                <a href="modes/mode2.html" class="btn btn-default btn-small btn-nav">Play Now</a>
            </div> <!-- mode 2 -->
            <div class="slide" data-anchor="slide3" id="slide-mode3">
                <h1 class="slide-title">Is This What You Want?</h1>
                <div class="intro-text">
                    <p>Talk to us and we will choose an image that we thing you will relate to for you!</p>
                </div>
                <a href="modes/mode3.html" class="btn btn-default btn-small btn-nav">Play Now</a>
            </div> <!-- mode 3 -->
        </div> <!-- section mode -->
        <div class="section" id="section-gallery">
        <h1 class="section-title">Gallery</h1>
            <h2 class="sub-title">Make a sound, be an aritist, and have some fun!</h2>
            <div class="intro-text">
                <p>Browse other sound-paintings by our users!</p>
            </div>  
            <a href="#secMode" class="btn btn-default btn-small btn-nav">Browse</a>
        </div> <!-- section gallery -->
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript" src="../static/playwithsound/fullpage/jquery.fullPage.js"></script>

<script src="../static/playwithsound/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../static/playwithsound/js/pws.js"></script>
</body>

</html>