{% extends 'base.html' %}

    {% block title %}Paint With Sound - About{% endblock %}


    {% block content %}
    <div id="fullpage">
        <div class="section" id="section-about">
            <h1 class="section-title">Paint With Sound</h1>
            <h2 class="sub-title">Make a sound, be an aritist, and have some fun!</h2>
            <div class="intro-text">
                <p>Paint With Sound is a website that transform sound into images.</p>
                <p>Wanna show your feelings in paints but not so talented? Wanna attach a image to your blogbut cannot find a fit one? Come to Paint With Sound! Or just have some fun and relax yourself.</p>
            </div>  
            <a href="#secMode" class="btn btn-default btn-circle">
                <i class="fa fa-angle-double-down"></i>
            </a>
        </div> <!-- section about -->
        <div class="section">
            <div class="slide" data-anchor="slide1" id="slide-mode1">
                <h1 class="slide-title">What You Sing Is What You See</h1>
                <div class="intro-text">
                    <p>Just sing, speak, scream, shout or make whatever sound you like, we will paint an image that comes from your voice!</p>
                </div>
                <a href="{% url 'mode_1' %}" class="btn btn-default btn-small btn-nav">Play Now</a>
            </div> <!-- mode 1 -->
            <div class="slide" data-anchor="slide2" id="slide-mode2">
                <h1 class="slide-title">It Takes A Song To Be An Artist</h1>
                <div class="intro-text">
                    <p>Upload an audio file, and we will paint a more complicated and artistic image for you!</p>
                </div>
                <a href="{% url 'mode_2' %}" class="btn btn-default btn-small btn-nav">Play Now</a>
            </div> <!-- mode 2 -->
        </div> <!-- section mode -->
        <div class="section" id="section-gallery">
        <h1 class="section-title">Gallery</h1>
            <h2 class="sub-title">Make a sound, be an aritist, and have some fun!</h2>
            <div class="intro-text">
                <p>Browse other sound-paintings by our users!</p>
            </div>  
            <a href="{% url 'gallery_home' %}" class="btn btn-default btn-small btn-nav">Browse</a>
        </div> <!-- section gallery -->
    </div>

    <div class="container text-center" id="footer">
        <p>Copyright &copy; Team 330</p>
    </div>
{% endblock %}

{% block customJS %}
{% load static %}
<script type="text/javascript" src="{% static "playwithsound/fullpage/jquery.fullpage.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/pws.js" %}"></script>
{% endblock %}