{% extends 'base.html' %}

{% load static %}

{% block title %}Paint With Sound - Gallery{% endblock %}

{% block content %}
    <div class="container-fluid" id="gallery-head">
        <h1 class="mode-title">Gallery</h1>
        <!--p> View the work of other users!</p-->
    </div>

    <section id="browse">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4 col-sm-6">
    				<div class="browse-hovereffect">
    					<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
    					<a href="#paintingModal1" data-toggle="modal">
    					<div class="browse-overlay">
    						<div class="browse-overlay-icon">
    							<i class="fa fa-expand" aria-hidden="true"></i>
           					</div>
        				</div>
        				</a>
                	</div>
                </div>

                <div class="col-md-4 col-sm-6">
    				<div class="browse-hovereffect">
    					<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
    					<a href="#paintingModal1" data-toggle="modal">
    					<div class="browse-overlay">
    						<div class="browse-overlay-icon">
    							<i class="fa fa-expand" aria-hidden="true"></i>
           					</div>
        				</div>
        				</a>
                	</div>
                </div>

                <div class="col-md-4 col-sm-6">
    				<div class="browse-hovereffect">
    					<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
    					<a href="#paintingModal1" data-toggle="modal">
    					<div class="browse-overlay">
    						<div class="browse-overlay-icon">
    							<i class="fa fa-expand" aria-hidden="true"></i>
           					</div>
        				</div>
        				</a>
                	</div>
                </div>

                <div class="col-md-4 col-sm-6">
    				<div class="browse-hovereffect">
    					<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
    					<a href="#paintingModal1" data-toggle="modal">
    					<div class="browse-overlay">
    						<div class="browse-overlay-icon">
    							<i class="fa fa-expand" aria-hidden="true"></i>
           					</div>
        				</div>
        				</a>
                	</div>
                </div>

                <div class="col-md-4 col-sm-6">
    				<div class="browse-hovereffect">
    					<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
    					<a href="#paintingModal1" data-toggle="modal">
    					<div class="browse-overlay">
    						<div class="browse-overlay-icon">
    							<i class="fa fa-expand" aria-hidden="true"></i>
           					</div>
        				</div>
        				</a>
                	</div>
                </div>

                <div class="col-md-4 col-sm-6">
    				<div class="browse-hovereffect">
    					<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
    					<a href="#paintingModal1" data-toggle="modal">
    					<div class="browse-overlay">
    						<div class="browse-overlay-icon">
    							<i class="fa fa-expand" aria-hidden="true"></i>
           					</div>
        				</div>
        				</a>
                	</div>
                </div>
    		</div>
    	</div>
    </section>

    <section id="view-more">
    	<div class="container">
    		<div class="text-center">
                <h3 class="section-heading" id="viewmore-heading">View More</h2>
            </div>

    	<div class="row">
    		<div class="col-md-4 col-sm-6">
    			<div class="viewmore-hovereffect">
        			<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
        			<a href="{% url 'gallery_view' 'popular' %}">
            		<div class="viewmore-overlay">
                		<h2>POPULAR PAINTINGS</h2>
            		</div>
            		</a>
    			</div>
			</div>

			<div class="col-md-4 col-sm-6">
    			<div class="viewmore-hovereffect">
        			<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
        			<a href="{% url 'gallery_view' 'new' %}">
            		<div class="viewmore-overlay">
                		<h2>NEW PAINTINGS</h2>
            		</div>
            		</a>
    			</div>
			</div>

			<div class="col-md-4 col-sm-6">
    			<div class="viewmore-hovereffect">
        			<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
        			<a href="{% url 'gallery_my_album' %}">
            			<div class="viewmore-overlay">
                			<h2>MY ALBUM</h2>
            			</div>
            		</a>
    			</div>
			</div>
    		
    	</div>
    </div>
    </section>

    <div class="container-fluid text-center" id="unfixed-footer">
    	<div>
        <p>Copyright &copy; Team 330</p>
        </div>
    </div>

    <div class="painting-modal modal fade" id="paintingModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <img class="img-responsive img-centered" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
                                <audio controls src=""></audio>
                                <div class="intro-modal">
                                    <p>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <--i class="fa fa-play" aria-hidden="true"></--i>
                                        <strong>xxx Kudos</strong>
                                    </p>
                                    <p><strong>creater </strong>description added by creater of the image #hashtags</p>
                                    <p class="text-muted small">YYYY/MM/DD HH:MM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}