{% extends 'base.html' %}

{% load static %}

{% block title %}Paint With Sound - My Album{% endblock %}

{% block content %}

<div class="container" id="view-my-album">
	<div class="row">
        <!-- display the albums of the current user -->
        {% for album in albums %}
		<div class="col-md-4 col-sm-6">
    		<div class="viewmore-hovereffect">
                {% if album.painting_set.all %}
        		<img class="img-responsive" src="{% url 'getimage' album.painting_set.all.0.id %}" alt="">
                {% else %}
        		<img class="img-responsive" src="{% static "playwithsound/images/pws/empty_album_cover.jpg" %}" alt="">
                {% endif %}
        		<a href="{% url 'gallery_view' 'user' %}">
            		<div class="viewmore-overlay">
                		<h2>{{ album.album_name }}</h2>
            		</div>
            	</a>
    		</div>
		</div>
        {% endfor %}

	</div> <!--row-->
</div>

<div class="container-fluid text-center" id="unfixed-footer">
 	<div>
        <p>Copyright &copy; Team 330</p>
    </div>
</div>

{% endblock %}