{% extends 'base.html' %}

{% load static %}

{% block title %}Paint With Sound - My Album{% endblock %}

{% block content %}

<div class="container" id="view-my-album">
	<div class="row">
		<div class="col-md-4 col-sm-6">
    		<div class="viewmore-hovereffect">
        		<img class="img-responsive" src="{% static "playwithsound/images/pws/gallery_test.jpg" %}" alt="">
        		<a href="{% url 'gallery_view' 'user' %}">
            		<div class="viewmore-overlay">
                		<h2>Default Album</h2>
            		</div>
            	</a>
    		</div>
		</div>

	</div>
</div>

<div class="container-fluid text-center" id="unfixed-footer">
 	<div>
        <p>Copyright &copy; Team 330</p>
    </div>
</div>

{% endblock %}