{% extends 'base.html' %}

{% load static %}

{% block title %}Paint With Sound - Gallery{% endblock %}

{% block content %}
    <div class="container-fluid" id="gallery-head">
        <h2 class="mode-title">{{ gallery_title }}</h2>
    </div>

<div class="container">
	<div class="row" id="view-paintings">
        {% for painting in paintings %}
		{% include 'gallery/painting.html' %}
        {% endfor %}

	</div>
</div>

<div id="stream-load-more">
    {% if paintings %}
    <form>
        <input type="hidden" name="last_id" value="">
        <!-- view type=0: popular paintings; view_type=1: newpaintings -->
        <input type="hidden" name="view_type" value="{{ view_type }}">
        <input type="hidden" name="painting_num" value="">
        <button type="button" class="btn btn-default">Load More</button>
    {% csrf_token %}
    </form>
    {% endif %}
    <p>{{ info }}</p>

</div>

<div class="container-fluid text-center" id="unfixed-footer">
 	<div>
        <p>Copyright &copy; Team 330</p>
    </div>
</div>

    <div id="single-painting">
    {% for painting in paintings %}
    {% include 'gallery/painting_modal.html' %}
    {% endfor %}
    </div>

{% endblock %}

{% block customJS %}
    {% load static %}
    <script type="text/javascript" src="{% static "playwithsound/js/gallery.js" %}"></script>

{% endblock %}