body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #fffdf1;
  letter-spacing: 1px;
  padding-top: 60px;
}

a {
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #b4d5c4;
}

#header, #footer {
  position:fixed;
  /*height: 50px;*/
  display:block;
  width: 100%;
  background-color: #a8505f;
  z-index:9;
  text-align:center;
  color: #f2f2f2;
  text-transform: uppercase;
}

#header{
  top:0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer{
  padding-top: 8px;
  margin-bottom: 0;
  bottom:0px;
}

footer {
  margin-bottom: 0;
  padding-top: 10px;
  color: white;
  background: #a8505f;
  text-transform: uppercase;
}

.search-btn {
  outline: none;
  border: none;
  background-color: #a8505f;
  color: white;
}

.search-btn:hover {
  color: #a8505f;
  background-color: white;
}

.search-input {
  color: #a8505f;
  border: 1px solid white;
  border-radius: 20px; 
  font-size: 10px;
  height:80%;
  width: 150px;
}

.navbar-pws {
  color: white;
  background-color: #a8505f;
  margin-bottom: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-brand {
  position: absolute;
  left: 40%;
  text-align: center;
  margin:0 auto;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 2px;
}

.navbar-left {
	padding-left: 50px;
}

.navbar-right {
  font-size: 14px;
  font-weight: bold;
  padding-right: 50px;
  letter-spacing: 2px;
}

.navbar-pws .navbar-brand:focus {
  outline: none;
  color: white;
}

.navbar-pws .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-pws .nav li a:hover,
.navbar-pws .nav li a:focus {
  outline: none;
  background-color: #a8505f;
}

.navbar-pws .nav li a:hover {
  color: #b4d5c4;
}

.navbar-pws .nav li a:focus {
  color: white;
}

.section {
	text-align: center;
}

.section-title, .mode-title, .slide-title {
  font-variant: small-caps;
  color: #a8505f;
  margin-bottom: 0;
}

.mode-title {
  padding-top: 55px;
}

.section-title {
  text-align: center;
  padding-top: 60px;
  /*text-transform: uppercase;*/
  font-size: 48px;
  
}

.sub-title {
  margin: 0;
  font-size: 22px;
  font-variant: small-caps;
  color: #a8505f;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

.intro-text p {
  width: 550px;
  margin: 0 auto;
}

.btn-circle {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  padding-left: 13px;
  padding-top: 3px; 
  border-radius: 100% !important;
  font-size: 32px;
  border: 2px solid white;
}

.btn-nav, .btn-nav:focus, 
.btn-circle, .btn-circle:focus {
  color: white;
  background: transparent;
}

.btn-nav:hover,.btn-circle:hover {
  outline: white;
  color: white;
  background: #a8505f;
}

.btn-circle, .btn-circle:focus,
.btn-circle:hover {
  border: 2px solid white;
}

.btn-nav, .btn-nav:focus,
.btn-nav:hover {
  border: 1px solid white;
}

.btn-nav {
  margin-top: 10px;
}

#fp-nav ul li a span {
	background: white;
}

.fp-slidesNav,
.fp-slidesNav ul li {
	bottom: 80px;
}

.fp-slidesNav ul li a span {
	background: white;
}

.fp-controlArrow.fp-prev {
  border-color: transparent rgba(0,0,0,.5) transparent transparent;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent rgba(0,0,0,.5);
}

#section-about {
  background-image: url(../images/website/index_01.jpg);
}

#section-gallery {
  background-image: url(../images/website/index_03.jpg);
}

#slide-mode1 {
  background-image: url(../images/website/index_02_01.jpg);
}

#slide-mode2 {
  background-image: url(../images/website/index_02_02.jpg);
}

#slide-mode3 {
  background-image: url(../images/website/index_02_03.jpg);
}

.mode-header {
  text-align: center;
  padding-top: 0;
  margin: 0 auto;
}

#mode1, #mode2, #mode3 {
  height: 200px;
}

#mode1 {
  background-image: url(../images/website/mode1_01.jpg);
}

#mode2 {
  background-image: url(../images/website/mode2_01.jpg);
}

#mode3 {
  background-image: url(../images/website/mode3_01.jpg);
}

.mode-body {
  display: block;
  color: #a8505f;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}