{% extends 'base.html' %}

    {% block title %}Paint With Sound - It Takes A Song To Be An Artist{% endblock %}

    {% block content %}
    <div class="container-fluid mode-header" id="mode1">
        <h1 class="mode-title">What You Sing Is What You See</h1>
        <p class="introduction"> You can sing, speak, scream, shout or make whatever sound you like through the microphone,
            our website will paint an image according to the your input.
            Have fun!
</p>
    </div>

    <div class="container mode-body">
        <div class="svg"> <!-- painting area -->
            <!--<svg width="960" height="500"></svg>-->
            <!--<canvas width="960" height="500"></canvas>-->

        </div>

        <p id="record-states">Click the button below to start recording.</p>
        <div class="record-control"> <!-- control recording -->
            Choose a style
            <span id="select-style">
                <select>
                    <option value="0">Style 1</option>
                    <option value="1">Style 2</option>
                </select>
            </span>
            <i class="fa fa-play" aria-hidden="true" id="start-record"></i>
            <i class="fa fa-microphone" aria-hidden="true" id="ongoing-record"></i>
            <i class="glyphicon glyphicon-pause" id="stop-record"></i>
        </div>
        <div id="record-result"> <!-- upload/download files -->
            <audio controls src="" id="usr-audio"></audio>
            <div>
                <button class="btn btn-small btn-primary btn-savefile" id="saveButton">
                save to my album</button>
                <button class="btn btn-small btn-primary btn-savefile" id="downloadimage">
                download image
            <i class="fa fa-download" aria-hidden="true"></i></button>
            <button class="btn btn-small btn-primary btn-savefile" id="downloadaudio">
                download audio
                <i class="fa fa-download" aria-hidden="true"></i></button></div>
        </div>
</div>

  <ul id="recording-list"></ul>


    <div class="container-fluid text-center" id="unfixed-footer">
    	<div>
        <p>Copyright &copy; Team 330</p>
        </div>
    </div>

        <div class="modal fade" id="login-alert" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
             <div class="modal-content container">
                 <div>
                     <div class="intro">
                         <p>Don't worry, you can do whatever you like!</p>
                         <p>But if you would like to save and manage your images and audio, remember to login first.</p>
                         <p>Enjoy! :)</p>
                     </div>
                     <a href="{% url 'login' %}" class="btn btn-small btn-primary btn-alert">Awesome! Take me to login now.</a>
                     <button class="btn btn-small btn-primary btn-alert" data-dismiss="modal">Thanks, but I just wanna have some fun!</button>
                 </div>
             </div>
            </div>
        </div>
    {% endblock %}

{% block customJS %}
    {% load static %}
    <script type="text/javascript" src="{% static "playwithsound/js/mode1d3.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/FileSaver.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/canvas-toBlob.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/mode1.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/recorder.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/analyzer.js" %}"></script>

{% endblock %}