{% extends 'base.html' %}

    {% block title %}Paint With Sound - It Takes A Song To Be An Artist{% endblock %}

    {% block content %}
    <div class="container-fluid mode-header" id="mode1">
        <h1 class="mode-title">What You Sing Is What You See</h1>
        <p class="introduction"> You can sing, speak, scream, shout or make whatever sound you like through the microphone,
            our website will paint an image according to the your input.
            Have fun!
</p>
    </div>

    <div class="container mode-body">
        <div class="svg"> <!-- painting area -->
            <!--<svg width="960" height="500"></svg>-->
            <!--<canvas width="960" height="500"></canvas>-->

        </div>

        <p id="record-states">Click the button below to start recording.</p>
        <div class="record-control"> <!-- control recording -->
            <i class="fa fa-play" aria-hidden="true" id="start-record"></i>
            <i class="fa fa-microphone" aria-hidden="true" id="ongoing-record"></i>
            <i class="glyphicon glyphicon-pause" id="stop-record"></i>
        </div>
    <h2>Recordings</h2>
  <ul id="recording-list"></ul>
    </div>

    <div class="container-fluid text-center" id="unfixed-footer">
    	<div>
        <p>Copyright &copy; Team 330</p>
        </div>
    </div>
    {% endblock %}

{% block customJS %}
    {% load static %}
    <script type="text/javascript" src="{% static "playwithsound/js/model1.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/mode1.js" %}"></script>

<script type="text/javascript" src="{% static "playwithsound/js/recorder.js" %}"></script>

    <script type="text/javascript" src="{% static "playwithsound/js/analyzer.js" %}"></script>
{% endblock %}