{% extends 'base.html' %}

    {% block title %}Paint With Sound - It Takes A Song To Be An Artist{% endblock %}

    {% block content %}
    <div class="container-fluid mode-header" id="mode1">
        <h1 class="mode-title">What You Sing Is What You See</h1>
    </div>

    <div class="container mode-body">
        <div class="display-area"> <!-- painting area -->
            <p id="display-mode-1"></p>
        </div> 

        <p id="record-states">Click the button below to start recording.</p>
        <div class="record-control"> <!-- control recording -->
            <i class="fa fa-play" aria-hidden="true" id="start-record"></i>
            <i class="fa fa-microphone" aria-hidden="true" id="ongoing-record"></i>
            <i class="glyphicon glyphicon-pause" id="stop-record"></i>
        </div>
    </div>

    {% endblock %}

    {% load static %}
    {% block customJS %}
<script type="text/javascript" src="{% static "playwithsound/js/mode1.js" %}"></script>

<script type="text/javascript" src="{% static "playwithsound/js/mode1recorder.js" %}"></script>
{% endblock %}