{% extends 'base.html' %}

    {% block title %}Paint With Sound - It Takes A Song To Be An Artist{% endblock %}

    {% block content %}
    <div class="container-fluid mode-header" id="mode2">
        <h1 class="mode-title">It Takes A Song To Be An Artist</h1>
        <p class="introduction"> Upload an audio file, and we will paint a more complicated and artistic image for you.
            Have fun!
        </p>
    </div>
    <div class="dash">
        <hr class="hr-1"/>
        <label>Have Fun !</label>
        <hr class="hr-2"/>
    </div>

    <div class="container mode-body">
        <p>Choose an audio file (*.wav): <span class='label label-info' id="upload-file-info"></span></p>
        <div id="upload">
            <label class="btn btn-small btn-primary btn-savefile" >Gimme A Song!
                <input type="file" id="upload-audio" required onchange="fileInfo(event)" />
            </label>
            <span>
                <button class="btn btn-default btn-small btn-savefile" id="upload-button" type="submit">Upload</button>
            </span>
        </div> <!-- upload -->
        <div id="load-wrapper" hidden>
            <div class="loader center-block"></div>
            <p>Hold on tight! Your artwork is on the way...</p>
        </div> <!-- load -->
        <div id="result" hidden>
            <div>
                <button class="btn btn-small btn-primary btn-savefile" id="saveButton">
                save to my album</button>
                <button class="btn btn-small btn-primary btn-savefile" id="downloadimage">
                download image</button>
            </div>
            <p>Here's your result picture:</p>
            {% load static %}
            <img src="{% static "playwithsound/images/example/03-process.jpg" %}" width="960" height="500">
        </div> <!-- result -->

    </div>

    <div class="container-fluid text-center" id="unfixed-footer">
    	<div>
        <p>Copyright &copy; Team 330</p>
        </div>
    </div>
    {% endblock %}

{% block customJS %}
    {% load static %}

    <script type="text/javascript" src="{% static "playwithsound/js/FileSaver.js" %}"></script>

    <!-- deep art effects -->
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/axios.standalone.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/hmac-sha256.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/sha256.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/hmac.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/enc-base64.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/url-template.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/sigV4Client.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/apiGatewayClient.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/simpleHttpClient.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/utils.js" %}"></script>
    <script type="text/javascript" src="{% static "playwithsound/js/deepart/apigClient.js" %}"></script>

	<!-- Image tools -->
	<script src="{% static "playwithsound/js/imageTools.js" %}"></script>

    <!-- mode2 customer js -->
    <script type="text/javascript" src="{% static "playwithsound/js/mode2.js" %}"></script>

{% endblock %}